access @ file:///home/conda/feedstock_root/build_artifacts/access_1734970045457/work
affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1733762038348/work
amply @ file:///home/conda/feedstock_root/build_artifacts/amply_1734602966974/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1737819173731/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1733230845337/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1734433375112/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560551097/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
click-plugins @ file:///home/conda/feedstock_root/build_artifacts/click-plugins_1733731077999/work
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1733749956636/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1731428370657/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1737726527110/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1737269786834/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
deprecation @ file:///home/conda/feedstock_root/build_artifacts/deprecation_1589881437857/work
descartes @ file:///Users/ktietz/demo/mc3/conda-bld/descartes_1630659560270/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1733217766141/work
esda @ file:///home/conda/feedstock_root/build_artifacts/esda_1734649231813/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fiona @ file:///Users/runner/miniforge3/conda-bld/fiona_1722411570382/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1731556349671/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1736247869287/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1737780989399/work
GDAL @ file:///Users/runner/miniforge3/conda-bld/libgdal-core_1737616393204/work/build/swig/python
geographiclib @ file:///home/conda/feedstock_root/build_artifacts/geographiclib_1734342349249/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1706734678866/work
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1734341931581/work
giddy @ file:///home/conda/feedstock_root/build_artifacts/giddy_1734161043754/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1733462580180/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
inequality @ file:///home/conda/feedstock_root/build_artifacts/inequality_1737124818183/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1719845458456/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1734788142186/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1733493556527/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1733428046021/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1725459112978/work
libpysal @ file:///home/conda/feedstock_root/build_artifacts/libpysal_1734433669370/work
llvmlite==0.43.0
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1733731066416/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219682943/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1700509932345/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mgwr @ file:///home/conda/feedstock_root/build_artifacts/mgwr_1734886727759/work
momepy @ file:///home/conda/feedstock_root/build_artifacts/momepy_1732874630241/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/narwhals_1738593856134/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1718888161786/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1704280739317/work/dist/numpy-1.26.3-cp311-cp311-macosx_11_0_arm64.whl#sha256=e7771deb0af89e973c619e15708cda211cf69690079f11a6d8726cd17041ee35
outcome @ file:///home/conda/feedstock_root/build_artifacts/outcome_1733406188332/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
palettable @ file:///Users/ktietz/demo/mc3/conda-bld/palettable_1629727644527/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1705728482261/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1735929745664/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1738287743623/work
pointpats @ file:///home/conda/feedstock_root/build_artifacts/pointpats_1734884613011/work
polars @ file:///Users/runner/miniforge3/conda-bld/polars_1721594498482/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1735327389428/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
PuLP @ file:///Users/runner/miniforge3/conda-bld/pulp_1705064994572/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==14.0.2
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pygeohash==1.2.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1727795291016/work
pysal @ file:///home/conda/feedstock_root/build_artifacts/pysal_1734959782737/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1733215667876/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1728642247211/work
quantecon @ file:///home/conda/feedstock_root/build_artifacts/quantecon_1710391574235/work
rasterio @ file:///Users/runner/miniforge3/conda-bld/rasterio_1730321129085/work
rasterstats @ file:///home/conda/feedstock_root/build_artifacts/rasterstats_1734602881963/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
retrying @ file:///home/conda/feedstock_root/build_artifacts/retrying_1721646300555/work
Rtree @ file:///Users/runner/miniforge3/conda-bld/rtree_1734967728305/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1685023865306/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1736617263790/work/dist/scipy-1.15.1-cp311-cp311-macosx_11_0_arm64.whl#sha256=33d6301e5827392fc2bbdb61834182c22d27dbe40668e7fff54407726bb4c661
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
segregation @ file:///home/conda/feedstock_root/build_artifacts/segregation_1734884825458/work
selenium @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_selenium_1737667202/work
shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1727273425100/work
simplejson @ file:///Users/runner/miniforge3/conda-bld/simplejson_1724955074350/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
snuggs @ file:///home/conda/feedstock_root/build_artifacts/snuggs_1733818638588/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
spaghetti @ file:///home/conda/feedstock_root/build_artifacts/spaghetti_1734887613555/work
spglm @ file:///home/conda/feedstock_root/build_artifacts/spglm_1734884715840/work
spint @ file:///home/conda/feedstock_root/build_artifacts/spint_1734886757609/work
splot @ file:///home/conda/feedstock_root/build_artifacts/splot_1734976790591/work
spopt @ file:///home/conda/feedstock_root/build_artifacts/spopt_1736183071074/work
spreg @ file:///home/conda/feedstock_root/build_artifacts/spreg_1734749892640/work
spvcm @ file:///home/conda/feedstock_root/build_artifacts/spvcm_1734886743817/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1727986712571/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1736248176451/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tobler @ file:///home/conda/feedstock_root/build_artifacts/tobler_1737767533208/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1732615936501/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
trio @ file:///Users/runner/miniforge3/conda-bld/trio_1735179157703/work
trio-websocket @ file:///home/conda/feedstock_root/build_artifacts/trio-websocket_1734276601048/work/dist
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1736692555874/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
watermark @ file:///home/conda/feedstock_root/build_artifacts/watermark_1726894719886/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1733128559935/work
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1733060193308/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1737234886776/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
